@import url("./variables.css");

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.button {
  background-color: var(--blue-color);
  color: var(--white-color);
  text-transform: uppercase;
  width: 150px;
  padding: 11px 29px;
  font-weight: 700;
  font-size: 0.72rem;
  border: none;
  transition: filter 0.5s ease;
}

.button:hover {
  filter: brightness(0.8);
}

body {
  font-family: var(--root-font-family);
  background-color: var(--root-bg-color);
  font-size: var(--root-font-size);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.header {
  padding: 41px 0 71px;
  background-image: var(--header-bg-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 769px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);

  .header-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;

    .title {
      font-family: var(--bebas-font-family);
      font-size: 3.75rem;
      font-weight: 700;
      letter-spacing: 5.7px;
      text-transform: uppercase;
    }

    .subtitle {
      font-weight: 600;
    }
  }

  .bottom-text {
    font-weight: 600;
    font-size: 0.68rem;
    text-transform: uppercase;
    letter-spacing: 3.7px;
  }
}

.nav {
  border-bottom: 1px solid var(--light-gray-color);
  position: sticky;
  top: 0px;
  background-color: var(--white-color);
  z-index: 100;

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px var(--horizontal-content-padding);

    .nav-logo {
      flex: 1;
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 35px;

      .nav-item {
        margin: 0;

        .nav-link {
          font-weight: 600;
          color: var(--dark-green-color);
          font-size: 0.75rem;
          letter-spacing: 1.09px;
          width: 100%;
          text-align: center;
          margin: 0;
          text-transform: uppercase;
          transition: color 0.5s ease;
          text-decoration: none;
        }

        .nav-link-active {
          color: var(--blue-color);
        }

        .nav-link:hover {
          color: var(--blue-color);
        }
      }
    }
  }
}

.story-section {
  padding: 57px var(--horizontal-content-padding) 70px;

  .story-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2.31px;
    font-size: 1.12rem;
    position: relative;
    padding-bottom: 16px;
    color: var(--dark-green-color);
  }

  .story-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
    transform: translateX(-50%);
  }

  .story-content {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .aside {
      max-width: 50%;

      .subtitle {
        display: block;
        font-weight: 700;
        text-align: left;
        font-size: 1.25rem;
        margin-bottom: 40px;
        margin-right: 77px;
        line-height: 23px;

        span {
          color: var(--blue-color);
          -webkit-text-stroke: 1px var(--black-color);
        }
      }

      .text {
        text-align: left;
        margin-right: 77px;
        letter-spacing: 0.19px;
        font-size: 0.8rem;
        color: var(--dark-green-color);
        line-height: 21px;
      }
    }

    .story-images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .story-image {
        position: relative;

        .caption {
          color: var(--white-color);
          text-align: left;
          position: absolute;
          line-height: 29px;
          font-weight: 800;
          font-size: 1.5rem;
          top: 14px;
          left: 14px;
          word-spacing: var(--story-image-width);
        }
      }
    }
  }
}

.capability-section {
  padding: 48px var(--horizontal-content-padding) 115px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .capability-title {
      margin-right: 154px;
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      letter-spacing: 2.31px;
      font-size: 1.12rem;
      position: relative;
      padding-bottom: 16px;
      color: var(--dark-green-color);
    }

    .capability-title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 2px;
      background-color: var(--blue-color);
    }

    .capability-text {
      max-width: 405px;
      letter-spacing: 0.2px;
      line-height: 19px;
      font-size: 0.72rem;
      color: var(--dark-green-color);
      margin-right: 31px;
    }
  }

  .capability-items {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    align-items: stretch;
    padding-top: 78px;

    .capability-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 24px;
      padding: 38px 22px;
      border: 1px solid var(--light-gray-color);
      color: var(--dark-green-color);

      .item-title {
        font-weight: 700;
        letter-spacing: 0.43px;
        line-height: 24px;
      }

      .item-text {
        font-size: 0.81rem;
        letter-spacing: 0.19px;
        line-height: 23px;
      }
    }
  }
}

.get-in-touch-section {
  background-image: var(--get-in-touch-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  min-height: 499px;
  padding: 120px 0 0 0;
  text-align: center;
  background-color: var(--primary-footer-bg-color);

  .get-in-touch-title {
    margin: 0 auto 35px;
    max-width: 350px;
    font-weight: 700;
    letter-spacing: 0.15px;
    font-size: 1.87rem;
    color: var(--dark-green-color);
  }
}

.footer {
  background-color: var(--secondary-footer-bg-color);

  #footer-form {
    padding: 30px 0;
    background-color: var(--primary-footer-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .form-title {
      font-weight: 700;
      letter-spacing: 0.85px;
      font-size: 1.37rem;
      color: var(--white-color);
      margin-right: 70px;
    }

    .form-input {
      background-color: var(--white-color);
      font-size: 0.77rem;
      letter-spacing: 0.07px;
      color: var(--dark-gray-color);
      padding: 10px 16px;
      border-right: none;
    }
  }

  .footer-main-content {
    color: var(--white-color);
    padding: 40px var(--horizontal-content-padding);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    .footer-title {
      letter-spacing: 0.85px;
      font-size: 0.68rem;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .company {
      min-width: 250px;

      .company-text {
        margin-top: 20px;
        line-height: 19px;
        font-size: 0.8rem;
      }
    }

    .footer-menu {
      min-width: 262px;

      .menu-title {
        margin-bottom: 20px;
      }

      .footer-menu-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 9px 38px;
        font-weight: 600;

        .footer-menu-span-item {
          grid-column: 1 / span 3;
        }

        .footer-menu-link {
          letter-spacing: 0.85px;
          font-size: 0.68rem;
          text-transform: uppercase;
          text-decoration: none;
          color: var(--white-color);
        }
      }
    }

    .contact-us {
      letter-spacing: 0.85px;
      font-size: 0.68rem;
      line-height: 16px;
      min-width: 146px;

      .contact-us-text {
        max-width: 113px;
      }

      .phone {
        display: inline-block;
        margin: 22px 0;
        color: var(--white-color);
        text-decoration: none;
      }

      .email {
        color: var(--white-color);
        text-decoration: none;
      }
    }

    .social-links-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      list-style: none;
      margin-top: 30px;
    }

    .social-links-wrapper li:not(:last-child) {
      margin-right: 23px;
    }
  }

  .footer-bottom {
    background-color: var(--primary-footer-bg-color);
    padding: 22px 0;
    text-align: center;
    font-size: 0.68rem;
    letter-spacing: 0.85px;
    color: var(--white-color);
  }
}
