:root {
  --root-font-family: "Open Sans", serif;
  --root-font-size: 16px;
  --root-bg-color: #ffffff;

  --horizontal-content-padding: 250px;

  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #00a4e5;
  --dark-gray-color: #979797;
  --light-gray-color: #e6e6e6;
  --dark-green-color: #48555b;

  --primary-footer-bg-color: #171819;
  --secondary-footer-bg-color: #141a20;

  --bebas-font-family: "Bebas Neue", sans-serif;

  --header-bg-url: url("../assets/images/header-bg.jpg");
  --get-in-touch-url: url("../assets/images/get-in-touch-bg.png");

  --story-image-width: 140px;
}
